#git rm -r --cached .
#git add .
#git commit -m "fixed untracked files"
#========================================================
#To recursively give directories read&execute privileges:
#chmod 755 $(find /path/to/base/dir -type d)
#To recursively give files read privileges: 
#chmod 644 $(find /path/to/base/dir -type f)
/nbproject
/vendor
/application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/application/sessions/*
/application/config
/index.php
/.htaccess
/application/libraries/Multi_menu.php
/application/modules/Systems/models/M_default.development
/assets/images/systems/*
/update.php
/node_modules
/package-lock.json
/composer.lock