.live-chat-lg{
    max-height:600px;
    height:100%;
    max-height:456px;
}
#msg_dir{
    overflow: auto;
}
.container{
    max-width: 1252px !important;
}
.main_webinar{
    background-image:url("./images/background_section_teaser-1.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.second_webinar{
    background-image:url("./images/background_section_teaser.png");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top:-5px;
}
.mb_YTPlayer{
    border-radius:15px;
}
.bg-custom{
    background-color: #506F9A;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btn-custom{
    background-color: #F3F3F3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.mb_YTPlayer iframe {
    pointer-events: none;
}
.chat_footer{
    padding:0 !important;
    margin-bottom: 0 !important;
}
.pict_user_chat{
    width:28px;
    height:28px;
    margin-right:5px;
    float: left;
}
.username_chat{
    font-size: 11px;
}
.slick-slide{
    width:auto !important;
    margin:0px 10px;
}
.bg-carousel{
    background: linear-gradient(90.27deg, #2D6FA0 -16.75%, rgba(69, 156, 207, 0.72) 100.23%);
    opacity: 0.8;
    backdrop-filter: blur(20px);
    padding: 10px 0px;
    margin-right: 0;
}
.slick_wrap{
    margin:0px 5%;
}
#chat_on_mobile{
    cursor: pointer;
    height:36px;
    background: #FFFFFF;
    box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
}
.title_txt{
    float: left;
    margin:5px 0px;
}
.title_icon{
    float: right;
    margin:5px 0px;
}
.kt_chat_modol{
    bottom:0;
    right:0;
    padding: 0 !important;
    height:auto;
    position:fixed;
    left:auto;
    top:auto;
    margin:0px;
    box-shadow:0px 0px 60px -15px rgba(0, 0, 0, 0.2);
    border-radius:0.42rem;
    overflow-x:hidden;
    overflow-y:auto;
}
.kt_chat_modol .modal-dialog{
    margin:0 !important;
}
.scroll {
    position: relative;
}
.scroll.scroll-pull{
    overflow: auto;
    height: 300px;
    padding-right:12px;
    margin-right:-12px;
}
.align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.symbol {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.42rem;
}
.symbol.symbol-40 > img {
    width: 100%;
    max-width: 40px;
    height: 40px;
}
.text-dark-75 {
    color: #3F4254 !important;
}
.font-weight-bold {
    font-weight: 500 !important;
}
.font-size-sm {
    font-size: 0.925rem;
}
.font-size-lg {
    font-size: 1.08rem;
}
.text-dark-50 {
    color: #7E8299 !important;
}
.max-w-400px {
    max-width: 400px !important;
}
.bg-light-success {
    background-color: #C9F7F5 !important;
}
.font-weight-bold {
    font-weight: 500 !important;
}
.p-5 {
    padding: 1.25rem !important;
}
.card.card-custom > .card-footer {
    background-color: transparent;
}
.card-footer:last-child {
    border-radius: 0 0 calc(0.42rem - 1px) calc(0.42rem - 1px);
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.card-footer {
    padding: 2rem 2.25rem;
    background-color: #ffffff;
    border-top: 1px solid #EBEDF3;
}
textarea.form-control {
    height: auto;
}
.p-0 {
    padding: 0 !important;
}
.border-0 {
    border: 0 !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    border-radius: 0.42rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
textarea {
    overflow: auto;
    resize: vertical;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-control:focus {
    box-shadow: none !important;
    color: #3F4254;
    background-color: #ffffff;
    border-color: #e9ecef;
    outline: 0;
}